%h2
  User Info
.panel
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f|
    = f.error_notification
    = display_base_errors resource
    = f.input :name, :autofocus => true
    = f.input :email, :required => true
    -if @user.has_role? :contributor
      = f.input :profile_type_id, collection: ProfileType.all, include_blank: "Select Type of Contributor", label: 'Type of Contributor', label_method: :name, value_method: :id
    = f.input :password, :autocomplete => "off", :placeholder => "leave it blank if you don't want to change it", :required => false
    = f.input :password_confirmation, :required => false
    = f.input :current_password, :placeholder => "we need your current password to confirm your changes", :required => true
    = f.label 'Upload an Avatar'
    = f.file_field :avatar, :label => 'Avatar', style: "height: 20px;line-height:0px;display:block;"
    %br
    = f.button :submit, 'Update', :class => 'button'

%h2
  Addresses on File
.panel
  - if current_user.addresses.any?
    - current_user.addresses.each do |address|
      .address
        = address.to_s
        = link_to address, class: 'button alert tiny', :method => :delete, :data => { :confirm => 'Are you sure?' } do
          Remove
          %i.icon-remove
  -else
    You don't have an address on file.  Please add one.
  %br
  = link_to 'Add new address', new_address_path, 'data-reveal-id' => 'address-modal', 'data-reveal-ajax' => 'true'

.reveal-modal#address-modal

  / -unless can? :create, Album
  /   -if current_user.account_request && current_user.account_request == 3
  /     = link_to 'Contributor Has Been Requested', become_contributor_path, :class => 'btn-success btn disabled'
  /   -else
  /     = link_to 'Request Contributor Account', become_contributor_path, :class => 'btn-success btn'

