- edit_view = true if params[:action] == 'edit'

-if edit_view
  %td.hide-for-small= song.track
  %td= link_to song.title, song
  %td.hide-for-small= Time.at(song.length).utc.strftime("%M:%S") if song.length
  %td.text-centered= "#{song.mp3.present? ? "Yes" : "No"}"
  %td.text-centered
    %a{href: '#', 'data-dropdown' => "settings-#{song.id}"}
      %i.icon-cogs
    %ul.f-dropdown{id: "settings-#{song.id}", 'data-dropdown-content' => ''}
      %li
        %a.edit-song{href: edit_song_path(song)}
          %i.icon-pencil
          Edit Song
      %li
        %a{href: song, class: 'delete-song', id: "#{song.id}"}
          %i.icon-trash
          Delete Song
-else #show_view
  %td.hide-for-small= song.track
  %td= link_to song.title, song
  %td.hide-for-small= Time.at(song.length).utc.strftime("%M:%S") if song.length
  %td.text-centered
    - if song.mp3.present?
      %a.download-button.full-width{href: '#'}
        Add
        %i.icon-shopping-cart
    - else
      No Digital Version
