= simple_form_for @blog_post do |f|
  - if @blog_post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@blog_post.errors.count, "error")} prohibited this blog from being saved:"
      %ul
        - @blog_post.errors.full_messages.each do |msg|
          %li= msg
  .row.collapse
    .small-12
      = f.label :title
      = f.text_field :title
  / .row.collapse
  /   .small-12
  /     = f.association :album, include_blank: 'Select an Album'
  /     = f.file_field :blog_cover
  .row.collapse
    .small-12
      = f.input :post, as: :ckeditor, label: false, input_html: { :ckeditor => {:toolbar => 'Full'} }
  %br
  .row.collapse
    .small-12
      Sound Cloud EMBED Code:
      = f.text_field :soundcloud_url
      Blog Cover Art:
      = f.file_field :blog_cover, style: "height: 20px;  line-height: 0px"
  %br
  .row
    .small-12.small-offset-10.columns
      = f.submit 'Save', class: 'button'
