%p#notice= notice

%h1
  = @blog_post.title
  = image_tag @blog_post.blog_cover
  = @blog_post.soundcloud_url.html_safe
  .panel
    = @blog_post.post.html_safe

= link_to 'Edit', edit_blog_post_path(@blog_post)
\|
= link_to 'Back', blog_posts_path
