%h3 Users
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Username
        %th Email
        %th Registered
        %th Role
        %th
        %th
    %tbody
      - @users.each do |user|
        %tr{id: "user-#{user.id}"}
          %td= link_to user.to_s, user
          %td= user.email
          %td= user.created_at.to_date
          %td.role= user.roles.first.name.titleize if user.roles.present?
          %td
            %a{:href => edit_role_user_path(user), "data-reveal-id" => "user-role", "data-reveal-ajax" => "true" } Change role
          %td= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => '') unless user == current_user

.reveal-modal#user-role
