%h2 Create User
= simple_form_for(@user, :html => {:multipart => true}, url: '/admin_create', method: :post) do |f|
  = f.error_notification
  = f.input :name, :autofocus => true
  = f.input :email, :required => true
  = f.input :password, :required => true
  = f.input :password_confirmation, :required => true
  = f.file_field :avatar, :label => 'Avatar', style: "height: 20px;line-height:0px;display:block;"
  %br
  = f.button :submit, 'Create', :class => 'button'

