= simple_form_for(@song, :html => {:multipart => true}, remote: true) do |f|
  %ul.form-errors.alert-box.alert.hidden

  .form-inputs
    = f.input :title
    = f.input :artist
    = f.input :length, label: 'Length (in seconds)'
    %label Upload Song
    = f.file_field :mp3, label: 'Upload Song'
  .form-hidden
    = f.input :album_id, as: :hidden, input_html: {value: params[:album].to_i} if params[:album]

  = f.button :submit, class: 'button'