- cache track do
  - if @album.digital
    %tr{id: "song-#{track.id}"}
      %td.hide-for-small
        = track.track
      %td
        = track.title
      %td.hide-for-small
        = track.display_length
      - if @album.digital
        %td.text-centered{style: "width:100px;"}
          - if track.mp3.present?
            = link_to add_song_to_cart_path(track), class: 'download-button full-width' do
              %i.fa.fa-shopping-cart
              = number_to_currency(track.price, :unit => "$")