- if item.product_type == 'Album'
  %tr.text-centered{id: "item-#{item.id}"}
    %td
      = image_tag item.product.cover_art(:thumb)
      %br
      (album)
    %td
      = link_to item.product.title, item.product
    %td
      %div.quantity
        = item.quantity
      %br
      %div
        = link_to '+', order_item_path(item), class: 'button tiny success add-quantity'
        = link_to '-', order_item_path(item), class: 'button tiny alert subtract-quantity'
      %div
        = link_to item, class: 'delete-item button alert tiny' do
          Remove
    %td.stock
      = print_stock(item.product.quantity, item.quantity)
    %td.unit-price
      = number_to_currency(item.product.price)
    %td.subtotal
      = number_to_currency(item.subtotal)
- else
  %tr.text-centered{id: "item-#{item.id}"}
    %td
      = link_to item.product.album do
        = image_tag item.product.album.cover_art(:thumb)
        %span{style: "display:block; padding: 5px; font-size:14px;" }= item.product.title
        %span{style: "color: gray; font-size:10px;"} (song)
    %td

    %td
      %div.quantity
        = item.quantity
      %br
      %div
        = link_to '+', order_item_path(item), class: 'button tiny success add-quantity'
        = link_to '-', order_item_path(item), class: 'button tiny alert subtract-quantity'
      %div
        = link_to item, class: 'delete-item button alert tiny' do
          Remove
    %td.stock
      Digital
    %td.unit-price
      = number_to_currency(item.product.price)
    %td.subtotal
      = number_to_currency(item.subtotal)
