= content_for :head do
  = javascript_include_tag "https://js.stripe.com/v2/"
  = tag :meta, :name => "stripe-key", :content => Rails.configuration.stripe[:publishable_key]

#shipping.checkout-section.on
  %h2
    %span.label 1
    Shipping Address
  %hr
  .edit
    .button.secondary Edit
  .form-data
    = render partial: 'addresses/form'
  .info-data

#billing.checkout-section.off
  %h2
    %span.label 2
    Billing
  %hr
  .edit{style: 'display:none;'}
    .button.secondary Edit
  .form-data
    = render partial: 'checkout_billing'
  .info-data
#review.checkout-section.off
  %h2
    %span.label 3
    Review & Submit
  .form-data
    = render partial: 'checkout_review'
  .info-data