%h1 All orders

%table.full-width
  %tr.text-centered
    %th Order ID
    %th User
    %th Status
    %th Total

  - @orders.each do |order|
    %tr.text-centered
      %td= link_to order.id, order
      %td= link_to order.user.name, order.user if order.user
      %td= order.status
      %td= number_to_currency(order.total)
      - if order.status == "Unsubmitted"
        %td
          = link_to order, class: 'button alert medium', :method => :delete, :data => { :confirm => 'Are you sure?' } do
            %i.icon-remove
            Remove Order
      - if order.status == "Confirmed"
        %td
          = link_to process_order_order_path(order), method: :put, class: 'button medium', :data => { :confirm => 'Are you sure?' } do
            %i.icon-plus
            Process Order
      - if order.status == "Processed"
        %td
          .ship-order.success.button.medium Ship Order
          = simple_form_for order, url: ship_order_order_path(order), :html => {:multipart => true, :class => 'confirmation-form small-6'} do |f|
            = f.input :shipping_confirmation, label: false
            = f.button :submit, 'Save Confirmation', class: 'button', :data => { :confirm => 'Are you sure you want to submit?  This will notify the customer.' }
          .cancel-ship.button.alert{style: "display:none;"} Cancel
      - if order.status == "Shipped"
        %td
          .ship-order.success.button.medium Edit Confirmation
          = simple_form_for order, url: ship_order_order_path(order), :html => {:multipart => true, :class => 'confirmation-form small-6'} do |f|
            = f.input :shipping_confirmation, label: false
            = f.button :submit, 'Save Confirmation', class: 'button', :data => { :confirm => 'Are you sure you want to save a new confirmation # ?' }
          .cancel-ship.button.alert{style: "display:none;"} Cancel
.row.collapse
  .right
    Total of all orders:
    =number_to_currency(current_user.orders.collect(&:total).sum)


%br

