%p#notice= notice

- if @order.status == 'Unsubmitted'
  = simple_form_for(@order, url: purchase_order_path(@order), :html => {:multipart => true}) do |f|
    - if @order.errors.any?
      - @order.errors.full_messages.each do |msg|
        .alert-box.alert{"data-alert" => ""}
          %a.close{href:'#'}x
          = msg

    %h1 Your Order
    %table.full-width
      %tr
        %th Customer
        %td{colspan: 7}=  @order.user ? @order.user.name : "Not Logged In"
      %tr
        %th Status:
        %td{colspan: 7}= @order.status
      %tr
        %th Items:
        %td{colspan: 7}= @order.order_items.count
      %tr
        %th Items
        %th Title
        %th Quantity
        %th Stock
        %th Unit Price
        %th Subtotal
        %th
      - @order.order_items.each do |item|
        %tr{id: "item-#{item.id}"}
          %td= image_tag item.product.cover_art(:thumb)
          %td= link_to item.product.title, item.product
          %td.quantity
            %span= item.quantity
            = link_to '+', order_item_path(item), class: 'button tiny success add-quantity'
            = link_to '-', order_item_path(item), class: 'button tiny alert subtract-quantity'
          %td.stock= print_stock(item.product.quantity, item.quantity)
          %td= number_to_currency(item.product.price)
          %td.subtotal= number_to_currency(item.subtotal)
          %td
            = link_to item, class: 'delete-item button alert tiny' do
              %i.icon-remove

      %tr
        %td
        %td
        %td
        %td
        %th Order Total
        %td#order-total= number_to_currency(@order.total)

    -if current_user
      .small-10.large-6
        .div Shipping To:
        .address
          = f.association :address, collection: current_user.addresses, selected: current_user.addresses.last.id, include_blank: 'No Address on File', label: false
          = link_to 'Add new address', new_address_path, 'data-reveal-id' => 'address-modal', 'data-reveal-ajax' => 'true'
    .row.collapse
      .small-12.large-12
        = f.submit 'Submit Order', class: 'button right'

  .reveal-modal#address-modal

- elsif @order.status == "Confirmed" || @order.status == "Processed"
  %h1 Order ##{@order.id}
  %table.full-width
    %tr
      %th Customer
      %td{colspan: 7}=  @order.user ? @order.user.name : "Not Logged In"
    %tr
      %th Status:
      %td{colspan: 7}= @order.status
    %tr
      %th Address:
      %td= @order.address.to_s
    %tr
      %th Items:
      %td{colspan: 7}= @order.order_items.count
    %tr
      %th.hide-for-small Items
      %th Title
      %th Quantity
      %th Stock
      %th Unit Price
      %th Subtotal
    - @order.order_items.each do |item|
      %tr{id: "item-#{item.id}"}
        %td.hide-for-small= image_tag item.product.cover_art(:thumb)
        %td= link_to item.product.title, item.product
        %td= item.quantity
        %td= print_stock(item.product.quantity, item.quantity)
        %td= number_to_currency(item.product.price)
        %td= number_to_currency(item.subtotal)

  .row.collapse
    .right.label
      %h3 Order Total
      %strong{style: "font-size:14px;"}= number_to_currency(@order.total)

  %br
  .row.collapse
    %a.button.right.alert.disabled{href:'#'}Cancel Order
