%p#notice= notice

- if @order.status == 'Unsubmitted'
  = render partial: 'form'

- elsif @order.status == "Confirmed" || @order.status == "Processed"
  %h1 Order ##{@order.id}
  %table.full-width
    %tr
      %th Customer
      %td{colspan: 7}=  @order.user ? @order.user.name : "Not Logged In"
    %tr
      %th Status:
      %td{colspan: 7}= @order.status
    %tr
      %th Address:
      %td= @order.address.to_s
    %tr
      %th Items:
      %td{colspan: 7}= @order.order_items.count
    %tr
      %th.hide-for-small Items
      %th Title
      %th Quantity
      %th Stock
      %th Unit Price
      %th Subtotal
    - @order.order_items.each do |item|
      %tr{id: "item-#{item.id}"}
        %td.hide-for-small= image_tag item.product.cover_art(:thumb)
        %td= link_to item.product.title, item.product
        %td= item.quantity
        %td= print_stock(item.product, item.quantity)
        %td= number_to_currency(item.product.price)
        %td= number_to_currency(item.subtotal)

  .row.collapse
    .right.label
      %h3 Order Total
      %strong{style: "font-size:14px;"}= number_to_currency(@order.total)

  / %br
  / .row.collapse
  /   %a.button.right.alert.disabled{href:'#'}Cancel Order
