.row
  .small-8.columns.small-centered
    %h3.text-centered="#{@album.artist} - #{@album.title}"
    = image_tag @album.cover_art.url(:medium), style: "margin-left: auto; margin-right: auto; width: 100%; max-width: 400px;"
.row.content
  .small-12
    = simple_form_for(@album, :html => {:multipart => true}) do |f|
      = f.error_notification
      %fieldset
        %legend Album Info
        .row
          .large-6.columns
            = f.input :title
          .large-6.columns
            = f.input :artist
        .row
          .large-6.columns
            = f.input :release_date, :as => :string, :input_html => { :class => 'date_picker' }
          .large-6.columns
            = f.input :category_id, collection: Category.all, include_blank: "Select a Category", label: :Category, label_method: :name, value_method: :id
        .row
          .small-12.columns
            %label{style: "text-decoration:underline;"} Upload Cover Art
            = f.file_field :cover_art, style: "height: 20px;  line-height: 0px"
      %fieldset
        %legend Product Info
        .row
          .large-4.columns
            = f.input :catalog_id
          .large-4.columns
            = f.input :price
          .large-4.columns
            = f.input :quantity

      .form-actions{style: "margin: 5%;"}
        = f.button :submit, class: 'button', :style => "margin-left: auto; margin-right: auto; width: 100%;"

  %div.span9
    %table.table.table-hover
      %h4 Track list
      %thead
        %tr
          %th.hidden-phone Track
          %th Title
          %th.hidden-phone Length
          %th Downloads
          %th{style: "width:5%"}
      %tbody#tracks{ data: {'update-url' => sort_tracks_albums_url, 'album-id' => @album.id} }
        -@album.track_list.each_with_index do |song, index|
          =render :partial => 'albums/partials/album_track', :locals => {song: song, edit_album: true}

    -unless @album.album_type == 1
      %div#bootstrapped-fine-uploader.span8
    -else
      %a.btn.btn-inverse.btn-block{href: "/songs/new_from_modal/?album=#{@album.id}", 'data-target' => '#manually-create-songs', role: 'button', 'data-toggle' => 'modal', 'data-backdrop' => 'static'} Add Song Manually
      %div#manually-create-songs.modal.hide.fade
        %div.modal-header
          %button.close{type:'button', "data-dismiss" => "modal", "aria-hidden" => 'true'}
            &times;
          %h3
            Create New Song
        %div.modal-body
          %p
            One Fine body
        %div.modal-footer
          %button.btn{"data-dismiss" => "modal", "aria-hidden" => 'true'}
            Cancel
          %a#save-song.btn.btn-inverse{href: '#'}
            Save Song


