.row
  .small-8.columns.small-centered
    %h3.text-centered="#{@album.artist} - #{@album.title}"
    = image_tag @album.cover_art.url(:medium), style: "margin-left: auto; margin-right: auto; width: 100%; max-width: 400px;"
.row.content
  .small-12
    = simple_form_for(@album, :html => {:multipart => true}) do |f|
      = f.error_notification
      .row
        .large-6.columns
          %fieldset
            %legend Album Info
            .row
              .large-6.columns
                = f.input :title
              .large-6.columns
                = f.input :artist
            .row
              .large-6.columns
                = f.input :release_date, :as => :string, :input_html => { :class => 'date_picker' }
              .large-6.columns
                = f.input :category_id, collection: Category.all, include_blank: "Select a Category", label: :Category, label_method: :name, value_method: :id
            .row
              .small-12.columns
                %label{style: "text-decoration:underline;"} Upload Cover Art
                = f.file_field :cover_art
        .large-6.columns
          %fieldset
            %legend Product Info
            .row
              .large-4.columns
                = f.input :catalog_id
              .large-4.columns
                = f.input :price
              .large-4.columns
                = f.input :quantity
        .large-6.columns
          .form-actions
            = f.button :submit, class: 'button', :style => "margin-left: auto; margin-right: auto; width: 100%;"

    %fieldset{style: "margin:0px;padding:10px;"}
      %legend Track Listing
      %table
        %thead
          %tr
            %th.hide-for-small Track
            %th Title
            %th.hide-for-small Length
            %th Downloads
            %th{style: "width:5%"}
        %tbody#tracks{ data: {'update-url' => sort_tracks_albums_url, 'album-id' => @album.id} }
          -@album.track_list.each_with_index do |song, index|
            =render :partial => 'albums/partials/album_track', :locals => {song: song, edit_album: true}


      .large-6.columns
        %div#bootstrapped-fine-uploader{'data-album-id' => @album.id}
      .large-6.columns
        %a.button.small-12{href: "/songs/new_from_modal/?album=#{@album.id}", "data-reveal-id" => "manually-create-song", "data-reveal-ajax" => "true"} Add Song Manually
.reveal-modal#manually-create-song
  %h3
    Create New Song
  %a#save-song.btn.btn-inverse{href: '#'}
    Save Song
  %a.close-reveal-modal &#215;


