.row
  .large-12.columns
    / Navigation
    .row
      .large-12.columns
        %nav.top-bar
          %ul.title-area
            / Title Area
            %li.name
              %h1= link_to 'Albums', albums_path
            %li.toggle-topbar.menu-icon
              %a{:href => "#"}
                %span menu
          %section.top-bar-section
            / Right Nav Section
            %ul.right
              %li.divider
              %li.has-dropdown
                %a{:href => "#"} Categories
                %ul.dropdown
                  - Category.all.each do |category|
                    %li
                      = link_to category.name, albums_path(category: category.id)
                  %li.divider
                  %li
                    = link_to 'View all →', albums_path
              %li.divider
              / %li.has-dropdown
              /   %a{:href => "#"} Filter By
              /   %ul.dropdown
              /     %li
              /       %a{:href => "#"} Dropdown Option
              /     %li
              /       %a{:href => "#"} Dropdown Option
              /     %li
              /       %a{:href => "#"} Dropdown Option
              /     %li.divider
              /     %li
              /       %a{:href => "#"} See all →
              / %li.divider
              %li.has-form
                = form_tag 'albums', method: 'get' do
                  .row.collapse
                    .small-10.columns
                      =text_field_tag :search, (params[:search] ? params[:search] : nil), id: 'albums-search', placeholder: "Search Albums"
                    .small-2.columns
                      %a.button{:href => "#"}
                        %i.icon-search
        / End Top Bar
    / End Navigation
    .row
      / Side Bar
      .large-4.hide-for-small.columns
        =link_to @featured_album do
          = image_tag @featured_album.cover_art.url(:large)
          .panel
            %h3= @featured_album.title
            %h4= @featured_album.artist
            %h5.subheader
              This week's featured album is #{@featured_album.title} by #{@featured_album.artist}
        %a{:href => "#"}
        .panel.callout.radius
          %h6
            %i.icon-shopping-cart
            Add Featured Album to Cart
      / End Side Bar
      / Thumbnails
      .large-8.columns
        .row
          - @albums.each do |album|
            =link_to album do
              .large-4.small-6.columns
                = image_tag album.cover_art.url(:medium)
                %ul.pricing-table{style: "background-color: #f2f2f2; height: 70px;"}
                  %li.title{style: "background-color: #f2f2f2; height: 68px;"}
                    ="#{album.title} - #{album.artist}"
                    %br
                    %small
                      =album.release_date.strftime("%B %d, %Y") if album.release_date


        / End Thumbnails

    / Footer
    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-6.columns
            %p © Copyright Audioprint 2013  .
          / .large-6.columns
          /   %ul.inline-list.right
          /     %li
          /       %a{:href => "#"} Link 1
          /     %li
          /       %a{:href => "#"} Link 2
          /     %li
          /       %a{:href => "#"} Link 3
          /     %li
          /       %a{:href => "#"} Link 4
    / End Footer