= "Hello #{@user.name},"
\
= @greeting
\
- if @order.shipping_confirmation
  = "Your Shipping Confirmation is # #{@order.shipping_confirmation}"
\
\
Order Details
="-------------"
Customer: #{@user.name}
Status:  Confirmed
Address:  #{@order.address}
Items:  #{@order.order_items.count}
\
\
Item Details
="-------------"
- @order.order_items.each do |item|
  ="Title: #{item.product.title} - Quantity: #{item.quantity} - Price: #{number_to_currency(item.product.price)} - Subtotal: #{number_to_currency(item.subtotal)}"
\
Order Total: #{number_to_currency(@order.total)}
\
Thank you,
Audioprint