%div{style: "margin-bottom:5px;"}
  %h5.subheader{style: "margin:0px;"}
    Select or Enter a Shipping Address
  %em
    %small * Indicates a required field

.dropdown-selector
  = select "addressDropdown", nil, current_user.addresses.collect {|a| [ a.to_s, a.id , {data: a.to_json}] }, {include_blank: 'Select from your Address Book'}, id: 'address-dropdown'

= simple_form_for @address, url: save_address_order_path(@order), :html => {:multipart => true, :id => 'address-form', class: 'full-width'}, remote: true do |f|
  = hidden_field_tag :preloaded_address
  %ul.form-errors.alert-box.alert.hidden
  .field
    = f.input :line1
  .field
    = f.input :line2
  .field
    = f.input :city
  .field
    = f.input :state
  .field
    = f.input :zip
  .field
    = f.hidden_field :user_id, value: current_user.id
  .field
    %span.left{style: "margin-right:5px;"}
      = check_box_tag :save_it
    %span.left
      %label{for: :save_it} Add to Address Book
  .actions.right
    = f.button :submit, 'Continue', class: 'button'