%h1 Listing produces

%table
  %tr
    %th Name
    %th Price
    %th
    %th
    %th

  - @produces.each do |produce|
    %tr
      %td= produce.name
      %td= produce.price
      %td= link_to 'Show', produce
      %td= link_to 'Edit', edit_produce_path(produce)
      %td= link_to 'Destroy', produce, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Produce', new_produce_path
