%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a#brand{href: root_path }
          = image_tag('audio_logo.png')
    %li.toggle-topbar.menu-icon
      %a{href:'#'}
        %span Menu

  %section.top-bar-section
    %ul.left
      %li.divider
      %li{class: "#{params[:controller] == 'blog_posts' ? 'active' : ''}"}
        = link_to 'Home', blog_posts_path
      %li.divider
      %li{class: "#{params[:controller] == 'albums' ? 'active' : ''}"}
        = link_to 'Albums', albums_path
      %li.divider
      - if current_user && current_user.has_role?(:admin)
        %li.has-dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Create
            %b.caret
          %ul.dropdown
            %li
              = link_to 'Album', new_album_path
            %li
              = link_to 'Blog', new_blog_post_path
            %li
              = link_to 'User', new_user_path
        %li.divider
    %ul.right
      %li.divider
      %li
        = link_to view_cart_orders_path do
          View Cart
          %i.icon-shopping-cart
      %li.divider
      - if user_signed_in?
        %li.has-dropdown.userdrop
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            = current_user.name
            = image_tag avatar_url(current_user), width: 40, height: 40
          %ul.dropdown
            - if current_user.has_role? :admin
              / %li
              /   = link_to '#' do
              /     %i.icon-th-large
              /     Edit Front Page
              %li
                = link_to users_path do
                  %i.icon-dashboard
                  Administration
            %li
              = link_to orders_path do
                %i.icon-list-alt
                Manage Orders
            %li
              = link_to edit_user_registration_path do
                %i.icon-edit
                Account Info
            %li.divider
            %li
              = link_to destroy_user_session_path, :method=>'delete' do
                %i.icon-road
                Sign Out
      -else
        %li{style: "margin-top: 10px; font-size: 15px;"}
        %li.divider
        %li
          = link_to 'Sign Up', new_user_registration_path
        %li{style: "margin-top: 10px; font-size: 15px;"}
        %li.divider
        %li
          = link_to 'Login', new_user_session_path
        %li{style: "margin-top: 10px; font-size: 15px;"}
        %li.divider